
	h1{color: olive; font-family: Calisto MT; text-align:center;}
	h2{color:olive; font-family: Calisto MT;}
	h3,h4{color:olive; font-family: Calisto MT; margin: 1px}
	
	/* margin : tot indica la distanza del testo dal titolo*/
	
	.alignleft {float: left; padding: 2px 15px 15px 0; } /* funzioni che allineano le immagini accanto al testo, goicare con i numeri per metterle come voglio*/
	.alignright {float: right; padding: 2px 0 20px 20px; } 
	.aligncenter {
      display:block;
      margin:0px auto;
      text-align:center;
      }
	

	.ridimensiona1{width:300px;height:auto;} /*ridimensiona le immagini come voglio io*/
	.ridimensiona2{width:250px; height:auto;} /*ridimensiona immagine più piccola*/
	.ridimensiona3{width:400px; height:auto;}
	.ridimensiona4{width:200px; heught:auto;}

	.pag2{color: steelblue; font-style:italic;}
	.pag3{color: pink ; font-style:italic;}
	.pag4{color: black; font-style: italic;}


	#main1{
		margin:0px auto;
		width: 1024px; /* 1024 è formato standard, forse meglio allargarlo? così è un po' bruttino  */
		background: #F2F3F4; /*color grigio che fa da sfondo al riquadro più chiaro*/
		padding: 10px 50px 20px 30px; 
	}
	/* main = formato che avrà tutto quanto*/ 
	
	#main2{
		margin:0px auto;
		width:924px; /*perchè qui 924 per fare la stessa dimensione della 1° pagina???????*/
		background: #F2F3F4;
		padding: 10px 50px 20px 30px;
		line-height:20px;
		
	}
	
	#rientrodestra{
	position: relative;
	right:250px;
	
	}
	
	#main3{
	margin:0px auto;
	width:1024px; /*perchè qui 924 per fare la stessa dimensione della 1° pagina???????*/
	background: snow;
	padding: 10px 50px 20px 30px;
	line-height: 20px; 
	}
	
	#main4{
		margin:0px auto;
		width:1024px;
		background:snow; 
		padding:10px 50px 20px 30px;
		line-height:22px;
		
	}
	 TH {border: 1px solid black}  /*qui davanti posso mettere anche th e td*/
	
	a:link, a:visited {
    text-decoration: underline;
    color: black;
    background-color: transparent;
	}

	a:hover, a:active {
    text-decoration: none;
    color: blue;
	}
	
	td.celle_larghe{
	width: 550px;
	height:auto;
	}
	
	tr.celle_larghe{
		width:550px;
		height: auto; 
	}


	
	
	
	/* padding: 25px 50px 75px 100px;
top padding is 25px
right padding is 50px
bottom padding is 75px
left padding is 100px
*/